<div class="leftContainer" >
    <div>
        <span class='leftHalf'>Customer Pin <span style="color:red;">*</span></span>
        <input type="text" ng-blur="getCustomerDetails()" class="form-control" ng-model="credentials.customerPin" />
    </div>
    <div>
        <span class='leftHalf'>Ticket Id <span style="color:red;">*</span></span>
        <input type="text" style="cursor:auto !important" ng-model="credentials.ticketId" class="form-control" readonly/>
    </div>
    <div>
        <span class='leftHalf'>Description <span style="color:red;">*</span></span>
        <textarea ng-model="credentials.description" class="form-control" maxlength='300'></textarea>
        <p class="floatRight">max 300 characters.</p>
    </div>
    <input type="button" ng-click="Save()" class="btn btn-primary" value="Save" />
</div>
<div class="rightContainer" ng-show="IsHidden">
    <div>{{email}}</div>
</div>
<style type="text/css">    
    .mainBar {
        margin-bottom: 5%;
    }
    .leftContainer {
        width: 70%
    }
    .leftContainer input {
        width: 80%
    }
    .rightContainer div {
        padding-bottom: 0 !important;
        color: red;
        font-size: 20px;
    }
    .rightContainer {
        padding: 3% !important;
        width: auto;
    }
</style>