<div class="leftContainer" style="">
    <div class="subHeader" >
        <div style="float:left;">
            <span>Customer: <b>{{ email }}</b> Ticket ID: <b>{{ ticketId }}</b></span>
        </div>
        <div class="searchDiv">
            <span>EXPORT</span>&emsp;&emsp;
            <input type="search" ng-model="search" placeholder="Search">
        </div>
    </div>
    <div style="clear: both;"></div>
    <div>
        <button ng-repeat="hub in hubs" ng-click='hubClick(hub.idx)' class="btn btn-primary hubBtn">{{hub.device_name}}</button>
    </div>
    <div ng-show='IsHidden'>
        <table border="1" cellpadding="10">
            <tbody>
                <tr>
                    <td style="background: #5A8CEA;" ng-repeat="item in hubKeys" class="ng-binding ng-scope">{{ item }}</td>
                </tr>
                <tr>
                    <td ng-repeat="data in hubData track by $index">{{ data }}</td>
                </tr>
            </tbody>
        </table>
        <div style="padding-bottom: 3%;"></div>
        <table border="1" cellpadding="10">
            <tr>
                <td style="background: #5A8CEA;" ng-repeat="items in keys">{{items}}</td>
            </tr>
            <tr ng-repeat="item in tableData | filter:search">
                <td ng-repeat="data in item track by $index" ng-click="onDeviceSelect(data.id)">{{ data.device_name }}</td>
            </tr>
        </table>
        <input class="btn btn-primary" style="float:right;margin:20px 0 !important;border-radius: 15px;" value="Next" ng-click='addRemarks()'/>
    </div>
</div>
<style type="text/css">
    .mainBar {
        margin-bottom: 5%;
    }
    table {
       width: 100%;
    }
    th, td {
        width:134px;
        height: 55px; 
        text-align: center;
        border: .5px solid #fff;
    }
    tr:nth-child(even){
        background-color: #B4CBF6
    }
    tr:nth-child(odd){
        background-color: #80A4E6
    }
    .hubBtn {
        width: auto !important;
        font-size: 20px;
        border-radius: 15px;
        margin: 2% 2px !important;
    }
    .leftContainer div {
        margin: 0 auto;
    }
    .leftContainer {
        width: 100%;
        padding-left: 5%;
    }
</style>