<!Doctype html>
<html ng-app="myApp" >
    <head>
        <title>LiveSmart</title>
        <meta charset='UTF-8' />
        <script src="/js/angular.min.js"></script>
        <script src="/js/angular-route.min.js"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/layout.css">
    </head>
    <body ng-controller='mainCtrl' style="width:1500px;height:700px;margin: 0 auto;">
        <div class="mainContainer" style="margin:0 auto; width:70%;">
            <div class="header">
                <div style="text-align: center;">
                    <h1>{{ headerTitle }}</h1>
                    <img class="image" src="/images/logo.png">
                </div>
                <div style="clear: both;"></div>
                <div class="mainBar">
                    <span ng-bind='date'></span>
                    &emsp;&emsp;&emsp;&emsp;
                    <span ng-bind='currentTime'></span>
                    <select ng-show='userSelect' ng-model="logoutSelect" ng-change='logout(this)' ng-options="opt as opt.label for opt in options" class='floatRight'></select>
                </div>
            </div>
            <div class="Content" ng-view ></div>
        </div>

        <script>
            var App = angular.module('myApp',['ngRoute']);
            App.config(['$routeProvider', function($routeProvider){
                $routeProvider
                    .when('/login', {
                        templateUrl: '/views/login.html',
                        controller: 'loginCtrl'
                    })
                    .when('/admin', {
                        templateUrl: '/views/admin.html',
                        controller: 'adminCtrl'
                    })
                    .otherwise({
                        redirectTo: 'login'
                    });
            }]);
            App.run(function($rootScope) {
                $rootScope.userSelect = false;
                $rootScope.userData = {};
                // for stage customarecare.
                // $rootScope.baseUrl = 'http://stage.blazeautomation.com:80/customerCare/';
                // for production customarecare.
                $rootScope.baseUrl = 'http://prod1.livesmart.co.jp/customerCare/';
                $rootScope.headerTitle = "";
            });
            App.controller('mainCtrl', function($rootScope, $scope, $filter, $http, $interval, $timeout) {
                $timeout(function() {
                    $scope.headerTitle =  $rootScope.headerTitle;
                }, 100);
                $scope.getTime = function(){
                    var offTime = $filter('date')(new Date(), 'HH:mm:ss').split(':');
                    var text = " AM";
                    if (offTime[0] > 11){
                        text = " PM";
                    }
                    offTime[0] = ("00" + (offTime[0] % 12).toString()).slice(-2);
                    if (offTime[0] == "00"){
                        offTime[0] = "12";
                    }
                    $scope.currentTime = offTime.join(':') + text;
                    $scope.date = $filter('date')(new Date(), 'MMMM dd,  yyyy');
                    $scope.userSelect = $rootScope.userSelect;
                    $scope.options[0].label = $rootScope.userData.user_id;
                };
                $scope.options = [
                    { label: 'John Doe', value: 1 },
                    { label: 'LogOut', value: 2 }
                ];
                $scope.logoutSelect = $scope.options[0];
                $scope.getTime();
                $interval($scope.getTime, 1000);
                $scope.logout = function(_this){
                    $scope.userSelect = $rootScope.userSelect = false;
                    if($scope.logoutSelect.value === $scope.options[1].value){
                        $scope.logoutSelect = $scope.options[0];
                        window.location = "#/";
                    }
                };
            });
            App.controller('adminCtrl', function($rootScope, $scope, $http, $interval) {
                $rootScope.userSelect = true;
                $scope.credentials = { user: "", mainPassword: ""} ;
                $scope.myData = [];
                var baseUrl = $rootScope.baseUrl;
                $scope.AddUser = function() {
                    $scope.IsHidden =  true;
                };
                $scope.AddUser();
                $scope.DeleteUser = function() {
                    $scope.IsHidden =  false;
                    $scope.getRequest('getUsers');
                };
                $scope.Save = function(){
                    var keys = ['user', 'mainPassword', 'confirmPassword'];
                    for(var i in keys){
                        if($scope.credentials[keys[i]] == undefined || $scope.credentials[keys[i]] == ""){
                            alert("all fields mandatory");
                            return false;
                        }
                    }
                    if($scope.credentials.mainPassword !== $scope.credentials.confirmPassword){
                        alert("passwords should match");
                        return false;
                    }
                    $scope.postRequest('addUser', {user_id: $scope.credentials.user, password: $scope.credentials.mainPassword});
                };
                $scope.removeRow = function(_id){
                    $scope.postRequest('deleteUser', {id: _id}, true);
                };
                $scope.getRequest = function(url){
                    $http.get(baseUrl+url).success( function(response) {
                        if (response.status === 1){
                            $scope.myData = response.users;
                        }else{
                            alert(response.message);
                        }
                    }).error( function(){
                        console.log('error');
                    });
                };
                $scope.postRequest = function(url, data, deleteObj){
                    $http.post(baseUrl+url, data).success( function(response) {
                        $scope.credentials = "";
                        if (deleteObj && response.status === 1){
                            for( var i = 0; i < $scope.myData.length; i++ ) {
                                if( $scope.myData[i]._id === data.id ) {
                                  $scope.myData.splice( i, 1 );
                                  // alert("Account deleted sucessfully");
                                  break;
                                }
                            }
                        }
                        alert(response.message);
                    }).error( function(){
                        console.log('error');
                    });
                };
            });
            App.controller('loginCtrl', function($rootScope, $scope,$filter,$location, $http, $interval) {
                $rootScope.headerTitle =  "Administrator Portal";
                var baseUrl = $rootScope.baseUrl;
                $scope.postRequest = function(url, data){
                    $http.post(baseUrl+url, data).success( function(response) {
                        $scope.credentials = {};
                        if (response.status === 1){
                            $rootScope.userData = data;
                            window.location = "#/admin";
                        }else{
                            alert(response.message);
                        }
                    }).error( function(){
                        console.log('error');
                    });
                };
                $scope.Login = function(){
                    var keys = ['userId', 'password'];
                    for(var i in keys){
                        if($scope.credentials[keys[i]] == undefined || $scope.credentials[keys[i]] == ""){
                            alert("all fields mandatory");
                            return false;
                        }
                    }
                    var data = {user_id: $scope.credentials.userId, password: $scope.credentials.password};
                    $scope.credentials = "";
                    $scope.postRequest('login', data);
                };
            });
        </script>
    </body>
</html>
