<html style="background-image: url(/images/bg@4x.png); background-size: 100% 100%; background-repeat: no-repeat;">

<head>
    <title>LiveSmart Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
</head>

<body>
    <form action="/auth/login" method="post">
        <div class="container">
           
            <div class="main_body">
                <div class="gray_bg">
                    <div class="main_logo1"><img src="/images/ls.png"></div>
                </div>
                <div>
                        <p style="color: #ffffff;">
                            LiveSmartアプリで登録したEメールと
                            パスワードを入力してください</p>
                    </div>
                <div class="login1">
                        <div style="text-align:  start;">
                                <label style="color: #ffffff;">Emailアドレス</label>
                        </div>
                    <input type="text" name="email" />
                    <div  style="text-align:  start;">
                            <label style="color: #ffffff;">パスワード</label>
                    </div>
                    <input type="password" name="password" />
                    <input type="hidden" name="state" value="<%= typeof state != 'undefined' ? state : '' %>" />
                    <input type="hidden" name="client_id" value="<%= typeof client_id != 'undefined' ? client_id : '' %>" />
                    <input type="hidden" name="scope" value="<%= typeof scope != 'undefined' ? scope : '' %>" />
                    <input type="hidden" name="response_type" value="<%= typeof response_type != 'undefined' ? response_type : '' %>" />
                    <span><%= typeof message != 'undefined' ? message : '' %></span>
                </div>
            </div>
            <div class="action_buttons1">
                <input type="submit" class="login_btn" value="ログイン" />
            </div>
        </div>
    </form>
</body>
</html>
